/* CSS Document */
#button1{
margin-bottom:40px;
margin-top:40px;

height:70px;

width:250px;
background-color:brown;
vertical-align:middle;

font-size:16px;

border-radius:20px;
}
#button1:hover{
background-color:#5cbf2a;

}
#button1:active{

	outline-width: 0%;
}

.foot {
    position: fixed;
    height: auto;
    bottom: 0px;
    width: 100%;
    background-color:cyan;
}
.input-group{
    width: 90%;

}
